---
import Layout from "../layouts/Layout.astro";
import { t, changeLanguage, setDefaultNamespace } from "i18next";

changeLanguage("en");

setDefaultNamespace("home");
---

<Layout title={t("title")} description={t("description")}>
	<img
		src="https://static.wixstatic.com/media/f88fed_60b0352781c7423f82f5bf7a1ff3c31d~mv2.jpg/v1/fill/w_717,h_452,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f88fed_60b0352781c7423f82f5bf7a1ff3c31d~mv2.jpg"
		alt="Group picture of CALE attendees"
		class="bg-mask-gradient absolute -z-10 h-full w-full object-cover opacity-20 gradient-mask-b-90"
	/>
	<main class="mx-auto flex h-full w-full max-w-2xl flex-col gap-8 p-4">
		<div class="flex flex-col items-center justify-center gap-8 pb-[25vh] pt-16">
			<h1 class="whitespace-nowrap text-[8vmin] font-extrabold leading-normal tracking-wide text-secondary">
				<div
					class="after:animate-uncover relative flex w-fit after:absolute after:inset-0 after:origin-right after:animate-[shrink_2s_cubic-bezier(0.19,1,0.22,1)_forwards] after:bg-white after:content-['']"
				>
					<span class="flex w-[8vmin] justify-center text-primary">{t("hero.0.a")}</span>
					<span>{t("hero.0.b")}</span>
				</div>
				<div
					class="after:animate-uncover relative flex w-fit after:absolute after:inset-0 after:origin-right after:animate-[shrink_2s_cubic-bezier(0.19,1,0.22,1)_forwards_200ms] after:bg-white after:content-['']"
				>
					<span class="flex w-[8vmin] justify-center text-primary">{t("hero.1.a")}</span>
					<span>{t("hero.1.b")}</span>
				</div>
				<div
					class="after:animate-uncover relative flex w-fit after:absolute after:inset-0 after:origin-right after:animate-[shrink_2s_cubic-bezier(0.19,1,0.22,1)_forwards_400ms] after:bg-white after:content-['']"
				>
					<span class="flex w-[8vmin] justify-center text-primary">{t("hero.2.a")}</span>
					<span>{t("hero.2.b")}</span>
				</div>
				<div
					class="after:animate-uncover relative flex w-fit after:absolute after:inset-0 after:origin-right after:animate-[shrink_2s_cubic-bezier(0.19,1,0.22,1)_forwards_600ms] after:bg-white after:content-['']"
				>
					<span class="flex w-[8vmin] justify-center text-primary">{t("hero.3.a")}</span>
					<span>{t("hero.3.b")}</span>
				</div>
			</h1>
			<h2 class="animate-[fade_5s_forwards] text-center text-2xl font-bold opacity-0">
				{t("subtitle")}
			</h2>
			<div>
				<h2 class="animate-[fade_5s_forwards] text-center text-xl font-bold text-secondary opacity-0">
					{t("location")}
				</h2>
				<h2 class="animate-[fade_5s_forwards] text-center text-xl font-bold text-secondary opacity-0">
					{t("dates")}
				</h2>
			</div>
		</div>
		<p class="text-lg leading-relaxed">
			{t("content.0")}
		</p>
		<p class="text-lg leading-relaxed">
			{t("content.1")}
		</p>
		<p class="text-lg leading-relaxed">
			{t("content.2")}
		</p>
		<p class="text-lg leading-relaxed">
			{t("content.3")}
		</p>
		<p class="text-lg leading-relaxed">
			{t("content.4")}
		</p>
		<p class="text-lg leading-relaxed">
			<b>Networking Opportunities:</b> Rub shoulders with student leaders, ESSCO executives, and industry professionals
			in various social events designed to foster meaningful connections.
		</p>
		<p class="text-lg leading-relaxed">
			<b>Workshop Sessions:</b> Immerse yourself in engaging and informative student-led workshops that delve into
			leadership practices and advocacy, equipping you with valuable skills and insights.
		</p>
		<p class="text-lg leading-relaxed">
			<b>Gala Dinner:</b> Attend our glamorous gala dinner, where we celebrate achievements, recognize outstanding
			individuals, and create lasting memories with fellow attendees.
		</p>
		<p class="text-lg leading-relaxed">
			<b>Career Fair:</b> Explore a diverse range of potential employment opportunities at our career fair, connecting
			with industry professionals and organizations actively seeking talented engineering graduates.
		</p>
		<p class="text-lg leading-relaxed">
			<b>ESSCO Council of VP Externals Elections:</b> Participate in the elections and play an active role in shaping
			the future of ESSCO. This is an excellent opportunity to contribute to the Annual General Meeting (AGM) of ESSCO
			and make your voice heard.
		</p>
		<p class="text-lg leading-relaxed">
			Please note that specific details, including the schedule, locations, and additional events, will be
			announced closer to the conference. Stay tuned for more information!
		</p>
		<p class="text-lg leading-relaxed">
			We invite you to join us in empowering future engineering leaders and advocate for change within the
			engineering community. Your support can make a world of difference. For sponsorship opportunities and
			inquiries, please reach out to us at <a
				href="mailto:cale@essco.ca"
				target="_blank"
				rel="noopener noreferrer"
				class="font-bold text-primary"
			>
				cale@essco.ca
			</a>. Let's shape the future of engineering leadership together!
		</p>
		<p class="text-lg leading-relaxed">
			Don't miss out on this exceptional conference experience. Save the date, spread the word, and get ready for
			an unforgettable CALE 2024 at the University of Ottawa. We can't wait to welcome you!
		</p>
	</main>
</Layout>
