---
import { Icon } from "astro-icon";
---

<footer class="mx-auto mt-auto max-w-4xl px-4 py-2 text-center">
	<nav aria-label="Social media links" class="mx-auto w-fit">
		<ul class="flex gap-2">
			<li>
				<a href="https://www.instagram.com/cale.2024/">
					<Icon pack="mdi" name="instagram" class="h-8 w-8 text-primary" />
					<span class="sr-only">Instagram</span>
				</a>
			</li>
			<li>
				<a href="mailto:cale@essco.ca">
					<Icon pack="mdi" name="email" class="h-8 w-8 text-primary" />
					<span class="sr-only">Email</span>
				</a>
			</li>
		</ul>
	</nav>
	<small>Copyright &copy; 2023 CALE. All rights reserved.</small>
	<small>
		Made with <span class="">♥</span> by <a href="https://arcanist.me" class="underline">Daniel Thorp</a>.
	</small>
</footer>
