---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";

export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;

import { HeadHrefLangs } from "astro-i18next/components";
import i18next from "i18next";
---

<!DOCTYPE html>
<html lang={i18next.language}>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
		<HeadHrefLangs />
		<link rel="stylesheet" href="/global.css" />
	</head>
	<body class="flex h-full flex-col">
		<Navbar />
		<slot />
		<Footer />
	</body>
</html>
